// 顶部导航
.top-fixed-d {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    background: #ff397c;
    z-index: 99999;
    display: none;
}
.top-recommend-cate {
    width: 1260px;
    margin: 0 auto;
}

.top-fixed-logo {
    position: relative;
    top: -2px;
    left: 24px;
    display: inline-block;
}
.top-recommend-cate a:not(.top-fixed-logo) {
    font-size: 15px;
    display: inline-block;
    padding: 10px 10px;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}


// 顶部导航结束



header{
    background: #eee;
    height: 30px;
    overflow: hidden;
    font-size: 12px; 
}
header .nav{
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    // position: relative;
}
header .head-left{
    display: inline-block;
    float: left !important;
}
header a{
    color: #888888;
    text-decoration: none;
    float: left;
    display: block;
    height: 32px;
    padding: 0 22px 0 0;
    line-height: 30px;
    z-index: 11;
    margin-top: -1px;
    margin-bottom: -1px;
    border: 1px solid #eee;
    border-bottom:none; 
    text-align: center;
}
header a:hover{
    color: #fa1d6a
}
header .nav a.left-nav em {
    background: url(../images/ibar_sprites.png) no-repeat;
    width: 22px;
    margin-top: 5px;
    height: 20px;
    display: inline-block;
    float: left;
    background-position: 100px 100px;
    opacity: 0.5;
}
header .nav a.first em {
    background-position: -76px -284px;
    margin-right: 2px;
}
header .nav a.sed em {
    background-position: -104px -283px;
}
.fr {
    float: right !important;
}
header .nav .fr i {
    display: inline-block;
    width: 5px;
    height: 30px;
    background: url(../images/ibar_sprites.png) no-repeat;
    background-position: -58px -230px;
    float: left;
    margin-top: 6px;
}
header .nav .fr a.order em {
    background-position: -54px -255px;
}

header .nav .fr a em {
    background: url(../images/ibar_sprites.png) no-repeat;
    width: 20px;
    margin-top: 5px;
    height: 20px;
    display: inline-block;
    float: left;
    background-position: 100px 100px;
}
header .nav img{
    padding-top: 9px;
    margin-right: 5px;
    float: left;
}
header .nav .fr a.cart em {
    background-position: -76px -224px;
}
header .nav .fr a.order em {
    background-position: -54px -255px;
}
header .nav .two-code{
    position: absolute;
    z-index: 999;
    height: auto;
    border: 1px solid #d9d9d9;
    background: #fff;
    padding: 10px;
    // left: 0;
    border-top: none;
    top:28px;
    display: none;
}
header .nav .two-code p{
    text-align: center;
    color: #000000;
}
header .nav .two-code .more{
    color: #fa1d61;
    margin-top: 10px;
}

header .nav .first:hover{
    background:#fff;
    border: 1px solid #d9d9d9;
    border-bottom: none;

}
header .nav .first:hover .two-code1{
    display: block
}
header .nav .sed:hover .two-code2{
    display: block
}
header .nav .three:hover .two-code3{
    display: block
}

.top{
    background: #FC327E;
    height: 90px;
    img{
        display: block;
        margin: 0 auto;
    }
}



// logo 搜索部分开始
.header_wrap{
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    .logo {
        width: 180px;
        float: left;
        margin-top: 20px;
    }
    .search_layout {
        width: 689px;
        float: left;
        margin-left: 148px;
        margin-top: 30px;
        .search_ul {
            width: 436px;
            height: auto;
            overflow: hidden;
            margin: 0;
          
        }
    }
}

.search_ul  li.cur{
    color: #fa1d61;
    float: left;
    width: 89px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    border: 1px solid #fa1d61;
    background: #fa1d61;
    color: #fff;
}
.header_wrap .head_search{
    background: #fa1d61;
    width: 442px;
    height: 40px;
    padding: 3px;
    border-radius: 0 2px 2px 2px;
    float: left;
    .form_search {
        background: #fff;
        height: 34px;
    }
   .search_ico {
        width: 20px;
        height: 21px;
        float: left;
        background: url(../images/header_search.png);
        margin: 5px;
    }
    .input_text {
        font-size: 12px;
        color: #999;
        outline: none;
        height: 34px;
        line-height: 34px;
        float: left;
        background-color: transparent;
        border: medium none;
        width: 336px;
    }
    .input_submit {
        font-size: 18px;
        color: #fff;
        float: right;
        background-color: #fa1d61;
        border: medium none;
        width: 70px;
        height: 34px;
        cursor: pointer;
        outline: none;
    }
}
.header_wrap .head_keywords{
    width: 200px;
    margin-left: 10px;
    height: 23px;
    float: left;
    .ktitle_a {
        width: 200px;
        float: left;
        a {
            color: #808080;
            text-decoration: none;
            margin-right: 10px;
            margin-bottom: 3px;
            display: block;
            float: left;
        }
        a:hover{
            color:#fa1d61
        }
    }
}
.header_wrap .cart_wrap{
    width: 131px;
    height: 33px;
    border: 1px solid #dcdcdc;
    background: url(../images/cart.png) no-repeat scroll 8px center;
    margin-top: 75px;
    margin-left: 50px;
    float: left;
    font-size: 16px;
    color: #333;
    line-height: 33px;
    position: relative;
    cursor: pointer;
    .cart_wrap_tel {
        position: absolute;
        margin-top: -62px;
        line-height: 20px;
        font-size: 12px;
        text-align: right;
        font-weight: 600;
        width: 132px;
        font {
            font-size: 16px;
            color: #fa1d61;
        }
    }
    span {
        font-size: 16px;
        color: #333;
        line-height: 33px;
        margin-left: 36px;
    }
    .count {
        font-size: 10px;
        color: #fff;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background: #fa1d61;
        line-height: 16px;
        text-align: center;
        display: inline-block;
        right: 7px;
        top: -9px;
        position: absolute;
        overflow: hidden;
    }
}
.public_nav_warp{
    height: 42px;
    border-bottom: 2px solid #bfbfbf;
}
.public_nav{
    width: 1200px;
    margin: 0 auto;
    .all_category {
        width: 173px;
        height: 40px;
        line-height: 40px;
        background: #fa1d61;
        text-align: center;
        font-size: 18px;
        color: #fff;
        float: left;
        a {
            font-size: 18px;
            color: #fff;
        }
    }
    .site_menu {
        margin-left: 16px;
        width: 544px;
        float: left;
        li.cur a {
            color: #fa1d61;
        }
        li {
            float: left;
            padding: 0px 16px;
            padding: 8px 15px;
            position: relative;
            a{
                font-size: 18px;
                color: #333333;
            }
            a:hover{
                color: #fa1d61;
            }
            i {
                position: absolute;
                right: 0;
                top: -9px;
                display: block;
                width: 29px;
                height: 21px;
                background: url(../images/new_gif.gif) no-repeat;
            }
        }
    }
}

// 结束


.xianhua{
    width: 1200px;
    height: 40px;
    overflow: hidden;
    margin: 5px auto;
    font-size: 12px;
    color: #555555;
    margin-bottom: 15px;
    line-height: 40px;
}
.xianhua a{
    color: #555555;
}
.xianhua a:hover{
    color: #FC327E;
}

// 导航列
.category_list {
    width: 1198px;
    height: auto;
    overflow: hidden;
    border: 1px solid #D0CDC8;
    margin: 0 auto 20px;
}
.category_list ul li {
    border-bottom: 1px solid #EDEDED;
    width: 1198px;
    height: auto;
    overflow: hidden;
    color: #666;
}
.category_list ul li .dt {
    float: left;
    padding: 8px 10px;
    background: #F6F5F3;
    color: #666;
    width: 50px;
    float: left;
}
.category_list ul li .dd {
    float: left;
    padding: 0 5px;
    color: #666;
    margin: 6px 5px;
    padding-top: 1px;
    width: 1108px;
    float: left;
}
.category_list ul li .dd a {
    color: #666;
    margin-right: 10px;
}
#moreattr{
    margin: auto auto 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    text-align: center;
    width: 1198px;
}
.sm-wrap {
    background: #fff none repeat scroll 0 0;
    border-color: #fff #ddd #ddd;
    border-style: solid;
    border-width: 1px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-top: -2px;
    padding: 0 20px 0 20px;
    position: relative;
}
.sm-wrap:hover{
    color: #FC327E;
}
.sm-wrap lable {
    color: #949494;
}
.guilist li:nth-child(4){
    display: none
}
.guilist li:nth-child(5){
    display: none
}
.guilist li:nth-child(6){
    display: none
}
.guilist li:nth-child(7){
    display: none
}
.guilist li.active{
    display: block
}
// 导航列结束

.nav_bar {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 8px auto;
    font-size: 12px;
    color: #555555;
    margin-bottom: 15px;
     a {
        color: #555555;
        display: inline-block;
        padding: 0px 9px;
    }
}


// 商品详情
.goods_info {
    width: 1200px;
    height: auto;
    // overflow: hidden;
    margin: 8px auto;
    font-size: 12px;
    color: #555555;
}
.goods_info_img {
    width: 420px;
    height: auto;
    // overflow: hidden;
    margin-right: 22px;
    float: left;
   .good_tu {
        width: 418px;
        height: 418px;
        border: 1px solid #E5E5E5;
    }
}
.Magnifier_shop{
	width: 418px;
	height: 418px;
	border: 1px solid #ccc;
	margin-bottom: 25px;
	position: relative;
}
.Magnifier_shop>img{
	width: 418px;
	height: 418px;
}
#Magnifier_shop_S{
	width: 200px;
	height: 200px;
    background: transparent;
    background: url(../images/mask.png) repeat scroll 0 0 transparent;
	position: absolute;
	top: 0;
	cursor: move;
    display: none;
  
}
.Magnifier_shop_B{
	width: 418px;
	height: 418px;
	box-shadow: 0 0 5px 3px #666;
	position: absolute;
	left: 0;
	top: 40px;
	overflow: hidden;
	transform: scale(0,0);
    transition: all 0.7s;
    opacity: 1;
    z-index: 99;
}
.Magnifier_shop_B>img{
	position: absolute;
	top: 0;
    left: 0;
    // width: 960px;
    // height: 960px;
  
    opacity: 1;
}
.img_list {
    width: 420px;
    height: auto;
    overflow: hidden;
    margin-top: 15px;
}
.img_list ul li {
    float: left;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}
.img_list ul li:last-child{
    margin-right: 0;
}

.goods_info_desc {
    width: 516px;
    height: auto;
    overflow: hidden;
    float: left;
    position: relative;
   

}

.goods_info_desc h1 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 200;
    span{
        font-size: 14px;
        margin-left: 15px;
    }
}
.goods_info_desc .huayu {
    font-size: 16px;
    font-family: "Microsoft Yahei";
    padding-top: 15px;
    margin-bottom: 10px;
}
.goods_info_desc .huayu2{
    padding-top: 2px;
    font-size: 14px;
    color: #969696;
}
.goods_info_desc .goods_div {
     border-top: 1px solid #E5E5E5;
    padding: 8px 0;
    line-height: 30px;
    height: auto;
    overflow: hidden;
}

.goods_info_desc .price_name {
    font-size: 14px;
    font-family: "Microsoft Yahei";
    font-weight: 600;
    width: 70px;
    height: auto;
    overflow: hidden;
    float: left;
}
.goods_info_desc .price_right {
    width: 445px;
    height: auto;
    overflow: hidden;
    float: left;
    p {
        padding: 8px 0;
        border-bottom: 1px dashed #DFDFDF;
        font {
            font-size: 18px;
            font-family: "Microsoft Yahei";
            font-weight: 600;
            color: #c40000;
        }
        font.goods_price {
            font-size: 30px;
            font-family: "Microsoft Yahei";
            font-weight: 600;
            color: #c40000;
        }
        .mat_price {
            font-size: 14px;
            font-family: "Microsoft Yahei";
            text-decoration: line-through;
        }
       
    }
}
.goods_attr {
    padding: 8px 0;
    border-bottom: 1px dashed #DFDFDF;
    height: auto;
    overflow: hidden;
    li {
        float: left;
        width: 143px;
        text-align: center;
        font {
            color: #c40000;
            font-weight: 600;
        }
    }
}
.goods_info_desc .price_name {
    font-size: 14px;
    font-family: "Microsoft Yahei";
    font-weight: 600;
    width: 70px;
    height: auto;
    overflow: hidden;
}
.goods_info_desc .price_right {
    width: 445px;
    height: auto;
    overflow: hidden;
    span.bar {
        background: #f1e0d4;
        color: #555555;
        padding: 5px 10px;
        margin-right: 15px;
        border-radius: 8px;
        white-space: nowrap;
        a{
            color: #555555;
        }
    }

}
#more_goods_tags{
    display: inline-block;
    width: 36px;
    height: 18px;
    z-index: 100;
    position: relative;
    font-size: 11px;
    cursor: pointer;
    padding: 3px;
    line-height: 18px;
}
.goods_div{

}
.text {
    line-height: 26px;
    background-color: #FFF;
    height: 26px;
    float: left;
    padding: 0 20px 0 15px;
    border: solid 1px #eee;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    b {
        font-size: 0;
        line-height: 0;
        // background: url(../images/2014_ncs_public_img.png) no-repeat -50px -100px;
        display: block;
        width: 8px;
        height: 4px;
        position: absolute;
        top: 10px;
        right: 6px;
        overflow: hidden;
    }
}
.adder{
    float: left;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    font-weight: 600;
    margin-right: 20px;
    
}
.associated_goods {
    width: 445px;
    height: auto;
    overflow: hidden;
    li {
        width: 200px;
        height: 42px;
        float: left;
        background-color: #F5F5F5;
        border: 1px solid #E1E1E1;
        font-size: 12px;
        line-height: 43px;
        color: #555;
        margin: 5px 20px 5px 0;
        position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            img {
                width: 40px;
                height: 40px;
                margin-right: 8px;
                vertical-align: -16px;
                margin-left: 1px;
                float: left;
            }
        
    }
    li.cur {
        border-color: #FF3A7D;
        .cur_ico {
            width: 17px !important;
            height: 17px !important;
            position: absolute;
            display: block;
            top: -15px;
            right: -4px;
            z-index: 10;
             img {
                width: 17px !important;
                height: 17px !important;
                
            }
        }
    }
}
 
.goods_info_desc .price_right {
    width: 445px;
    height: auto;
    overflow: hidden;
    .add_huacai {
        height: auto;
        overflow: hidden;
        li {
            width: 55px;
            height: auto;
            overflow: hidden;
            float: left;
            margin-left: 15px;
            border: 1px solid #fff;
            border-bottom: 1px solid #fff;
            cursor: pointer;
        }
    }
    .huacai_box.active{
        display: block;
    }

    .huacai_box {
        width: 428px;
        height: auto;
        padding-bottom: 10px;
        border: 1px solid #E5E5E5;
        margin-top: -1px;
        margin-left: 15px;
        display: none;
        .huacai_box_close {
            position: absolute;
            width: 20px;
            height: 20px;
            margin-top: -25px;
            margin-left: 405px;
            text-align: center;
            line-height: 20px;
            font-weight: bold;
            font-family: "Microsoft Yahei";
            font-size: 12px;
            cursor: pointer;
        }
        .huacai_list {
            width: 428px;
            height: auto;
            overflow: hidden;
           li {
                width: 85px;
                height: auto;
                overflow: hidden;
                float: left;
                text-align: center;
                div {
                    line-height: 18px;
                    samp {
                        font-size: 20px;
                        font-weight: bold;
                        font-family: "Microsoft Yahei";
                        cursor: pointer;
                        padding: 3px 5px;
                        display: block;
                        float: left;
                    }
                    .huacai_input {
                        width: 30px;
                        height: 20px;
                        line-height: 20px;
                        border: 1px solid #EFEFEF;
                        float: left;
                        text-align: center;
                    }
                }
                .huacai_btn {
                    line-height: 25px;
                    a {
                        background: #FA1D62;
                        color: #fff;
                        padding: 3px 8px;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}
.goods_num{
    width: 200px;
    height: 40px;
    margin-left: 90px;
    position: relative;
    border: 1px solid #808080;
    margin-bottom: 10px;
    .reduce{
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 50px;
        font-size: 24px;

    }
    .add{
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
        width: 50px;
        font-size: 24px;

    }
    .good_num{
        text-align: center;
        position: absolute;
        left: 50px;
        top: 0;
        height: 38px;
        width: 100px;
        font-size: 24px;
        border: 1px solid #808080;
        border-top:none;
        border-bottom: none; 
      
    }
}
.btn_add_cart {
    width: 180px;
    height: 40px;
    display: block;
    float: left;
    background: #ffeded;
    color: #fa1d61;
    font-size: 16px;
    border: 1px solid #fd9ab5;
    text-align: center;
    line-height: 40px;
    em {
        background-image: url(../images/ibar_sprites.png?t=3);
        background-repeat: no-repeat;
        background-position: -82px -337px;
        width: 21px;
        height: 19px;
        display: inline-block;
        vertical-align: middle;
    }
}
.btn_add_cart_group {
    width: 180px;
    height: 40px;
    display: block;
    background: #FB1E63;
    color: #fff;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin-left: 30px;
    float: left;
}
.details{
    width: 1200px;
    margin: 0 auto;
}
.florist-wrapper {
    padding: 26px;
    box-sizing: border-box;
    background-color: #fffaf6;
    background-image: url(../images/florist_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 325px;
    .left {
        width: 35%;
        float: left;
       .florist-face {
            width: 240px;
            height: 240px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 0 26px 26px;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .florist-store {
            font-size: 16px;
            color: #333333;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
}
.right {
    width: 65%;
    text-align: left;
    float: left;
    .florist-name {
        font-size: 26px;
        color: #333333;
        font-weight: bold;
        b {
            font-size: 26px;
            color: #c71314;
            font-weight: bold;
            letter-spacing: .2em;
        }
    }
    .florist-brief {
        font-size: 16px;
        color: #666666;
        line-height: 30px;
        padding: 16px 0;
        display: block;
    }
    h3 {
        font-size: 22px;
        color: #333;
        font-weight: bold;
    }
    ul.florist-honor-list {
        padding: 14px 0;
        li {
            display: inline-block;
            width: 50%;
            float: left;
            font-size: 16px;
            color: #666;
            line-height: 36px;
            background: url(../images/honor_star.png) no-repeat center left;
            padding-left: 23px;
            box-sizing: border-box;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    h3 {
        font-size: 22px;
        color: #333;
        font-weight: bold;
    }
    .florist-tells-content {
        font-size: 16px;
        color: #666;
        margin-top: 14px;
    }
}
}

.goods_hot {
    width: 220px;
    height: auto;
    overflow: hidden;
    border-left: 1px solid #E5E5E5;
    float: left;
}
.hot_right {
    width: 200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}


.hot_title {
    width: 190px;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
}
.hot_title span {
    position: absolute;
    margin-top: -8px;
    display: block;
    background: #fff;
    padding: 0 10px;
    margin-left: 60px;
}
.hot_down {
    width: 190px;
}
.hot_down .top {
    display: block;
    background: url(../images/ibar_sprites.png) 0 -287px no-repeat;
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin-left: 35px;
    float: left;

}
.hot_down .down {
    display: block;
    background: url(../images/ibar_sprites.png) 0 -266px no-repeat;
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin-left: 35px;
    float: left;
}
.hot_list ul li p {
    text-align: center;
    position: absolute;
    margin-top: -20px;
    display: block;
    width: 180px;
    background: rgba(255,255,255,.6);
    color: #555;
    font-weight: 600;
}
.hot_list ul li p a {
    color: #555;
    font-weight: 600;
}
.hot_list ul li img {
    border: 1px solid #E5E5E5;
    width: 180px;
    height: 180px;
}
.hot_list ul li:hover p a {
    color: #fa1d61;
    font-weight: 600;
}